.board {
  background-color: #23719F;
  overflow-y: hidden;
  padding: 5px;
  font: 14px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #393939;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

.list {
  background-color: #E3E3E3;
  border-radius: 3px;
  margin: 5px 5px;
  padding: 10px;
  min-width: 220px;
  height: 92%;
  overflow-y: auto;

  header {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .title {
      font-weight: bold;
      font-size: 15px;
      line-height: 18px;
      cursor: grab;
      width: 80%;
    }

    .rightContent {
      width: 30%;
      text-align: right;
      font-size: 13px;
    }
  }

  article {
    border-radius: 3px;
    margin: 10px 0px;
  }

  .card {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    padding: 6px 8px;
    cursor: pointer;

    header {
      border-bottom: 1px solid #eee;
      padding-bottom: 6px;
    }

    .title {
      font-size: 14px;
    }

    .rightContent {
      font-size: 10px;
    }

    &:hover {
      background-color: #F0F0F0;
    }
  }
}

.detail {
  font-size: 12px;
  color: #939393;
}
