.loading {
  text-align: center;
  margin: 15px 0px;
}
.loading-bar {
  display: inline-block;
  margin: 0px 2px;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
  background-color: #777;
}
.loading-bar:nth-child(1) {
  animation-delay: 0.0001s;
}
.loading-bar:nth-child(2) {
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}